* {
    box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p {
font-size: 1.6rem;
font-family: "Forum", Verdana, sans-serif;
margin: 0;
}

html {
    font-size: 10px;
    letter-spacing: 2px;
    max-width: 1440px;
    margin: auto;
    scroll-behavior: smooth;
}

header {
    background: #030303;
}

h1 {
    color: #FFF;
    font-family: Forum;
    font-size: 80px;
    font-style: normal;
    font-weight: 400;
    line-height: 90px;
    /* 112.5% */
    letter-spacing: 5px;
    text-transform: uppercase;
}

h2 {
    color: #9D8665;
    font-family: Forum;
    font-size: 80px;
    font-style: normal;
    font-weight: 400;
    line-height: 90px;
    /* 112.5% */
    letter-spacing: 5px;
    text-transform: uppercase;
}

h3 {
    color: #FFF;
    font-family: Forum;
    font-size: 80px;
    font-style: normal;
    font-weight: 400;
    line-height: 90px;
    /* 112.5% */
    letter-spacing: 5px;
    text-transform: uppercase;
}

footer {
    background: #030303;
}

.logo_title {
    color: #FFF;
    font-family: Forum;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 5px;
    text-transform: uppercase;
}

.welcome {
    background: #030303;
}

.visiting {}

.explore {
    background: #030303;
}

.video {}

.gallery {
    background: #030303;
}

.tickets {}

.contacts {}