* {
    box-sizing: border-box;
}

html {
    font-size: 10px;
    letter-spacing: 2px;
    max-width: 1920px;
    margin: auto;
    scroll-behavior: smooth;
}

body,
h1,
h2,
h3,
h4,
p {
    font-size: 1.6rem;
    font-family: "Forum", "Roboto", Verdana, sans-serif;
    margin: 0;
}

.wrapper {
    margin: auto;
    max-width: 1440px;
}

header {
    background: #030303;
    height: 150px;
    align-content: center;
}

.header__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navigation {
    display: flex;
    list-style: none;
}

.navigation__link {
    margin-left: 55px;
    text-decoration: none;
    cursor: pointer;
    color: #FFF;
    font-family: Roboto;
    font-size: 22px;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
    letter-spacing: 2px;
    transition: all .2s;
}

.navigation__link:hover {
    color: #9D8665;
    transition: all .2s;
}

.navigation__link:active {
    color: #7E6C51;
    transition: all .2s;
}

h1 {
    padding-top: 150px;
    color: #FFF;
    font-family: Forum;
    font-size: 80px;
    font-style: normal;
    font-weight: 400;
    line-height: 90px;
    /* 112.5% */
    letter-spacing: 5px;
    text-transform: uppercase;
}

h2 {
    padding-top: 75px;
    color: #9D8665;
    font-family: Forum;
    font-size: 80px;
    font-style: normal;
    font-weight: 400;
    line-height: 90px;
    /* 112.5% */
    letter-spacing: 5px;
    text-transform: uppercase;
}

h3 {
    padding-top: 75px;
    margin-bottom: 25px;
    color: #FFF;
    font-family: Forum;
    font-size: 80px;
    font-style: normal;
    font-weight: 400;
    line-height: 90px;
    /* 112.5% */
    letter-spacing: 5px;
    text-transform: uppercase;
}

h4 {
    padding-top: 25px;
    margin-bottom: 75px;
    color: #FFF;
    font-family: Roboto;
    font-size: 28px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 2px;
}

h5 {
    color: #000;
    font-family: Forum;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 5px;
    text-transform: uppercase;
}

.explore__description {
    color: #FFF;
    font-family: Roboto;
    font-size: 22px;
    font-style: normal;
    font-weight: 300;
    line-height: 38.5px;
    /* 175% */
}

footer {
    background: #030303;
}

.logo {
    display: flex;
    text-decoration: none;
    cursor: pointer;
}

.logo_title {
    padding-top: 9px;
    margin-left: 25px;
    color: #FFF;
    font-family: Forum;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 5px;
    text-transform: uppercase;
}

.welcome {
    background: #030303;
    height: 810px;
}

.welcome__wrapper {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.welcome__content {
    position: absolute;
    z-index: 1;
}

.welcome__background {

    /* background-image: url(../assets/img/welcome-slider/1.jpg); */
    /* background-repeat: no-repeat; */
    background: linear-gradient(90deg, #000 0%, rgba(0, 0, 0, 0.50) 16.19%, rgba(0, 0, 0, 0.00) 30.73%), url(../assets/img/welcome-slider/1.jpg) lightgray 100% / cover no-repeat;
    width: 1000px;
    height: 750px;
    background-position: right;
    position: absolute;
    right: 0;
}

.welcome__button {
    height: 75px;
    width: 360px;
    border-style: none;
    border-radius: 10px;
    background: #710707;
    color: #FFF;
    text-align: center;
    font-family: Roboto;
    font-size: 22px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 2px;
    cursor: pointer;
    transition: all .3s;
}

.welcome__button:hover {
    background: #9D8665;
    transition: all .3s;
}

.visiting {
    height: 1266px;
}

hr {
    margin: 25px 0 0 0;
    border: none;
    border-top: 3px solid #710707;
}

.explore_hr {
    margin: 0;
    border: none;
    border-top: 3px solid #710707;
    max-width: 660px;
}

.hr_card {
    margin: 10px 0;
    border: none;
    border-top: 2px solid #710707;
    width: 300px;
    transition: all .3s;
}

.card_link:hover .hr_card {
    width: 100%;
}

.visiting__layout-3-column {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.visiting__card {
    width: 440px;
    height: 424px;
}

.visiting__image {
    margin-bottom: 25px;
}

.card_link {
    margin-top: 75px;
    text-decoration: none;
}

.card_title {
    color: #000;
    font-family: Forum;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 5px;
    text-transform: uppercase;
}

.card_description_360 {
    color: #000;
    font-family: Roboto;
    font-size: 22px;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
}

.card_description_panorama {
    padding-top: 10px;
    color: #000;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
}

.explore {
    background: #030303;
}

.video {}

.gallery {
    background: #030303;
}

.tickets {}

.contacts {}